body{
  position:relative;
}

#fortaleza {padding-top:50px;height:100vh;color: #fff; background-color: #00CD66;}
#empresa {padding-top:50px;height:100vh;color: #fff; background-color:#43CD80 ;}
#casas {padding-top:50px;height:100vh;color: #fff; background-color: #00CD66;}
#pracas {padding-top:50px;height:100vh;color: #fff; background-color: #43CD80;}
#estabelecimentos {padding-top:50px;height:100vh;color: #fff; background-color:#009670;}
#contato {padding-top:50px;height:100vh;color: #191919; background-color:#009688;}

.img-responsive {
    margin: 0 auto;
}

#container{
  width: 80%;
  height: 450px;
  border: 1px solid black;
  margin: 0 auto;
  position: relative;
}

#container>img{
  width: 100%;
  height: 100%;
  position: relative;
}

#container>.btn{
  position: absolute;
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 25px;
  top: 200px;
  background: black;
  color: white;
  font-size: 20px;

}

#container>#btn2{
  position: relative;
  float: right;
}

#container>#btn1:houver{
  box-shadow: 10px 0px 20px 0px black;
}

#container>#btn1:houver{
  box-shadow: -10px 0px 20px 0px black;
}

.topo{
  color: #191919;
  float: right;
  
}


footer{
  text-align: center;
  padding: 10px;
  background-color: #4d4d4d;
  color: #f1f1f1;
}

#logo{
  padding-top: 0px;
  padding-left: 0px;
  max-width: 180px;
  max-height: 56;
  display: none;

  
}
.img-casa{
  width: 100px;
  height: 100px;
}
  #formulario{
    float: left;

  }
  

@media only screen and (max-width: 959px) {
    p,h1,h2,h3{
        font-size: 14px;
    }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    p,h3{
        font-size: 12px;
    }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
    p,h3{
        font-size: 10px;
    }
}

@media only screen and (max-width: 767px) {
    form{
        
        height: 300px;
    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
   form{
        
        height: 300px;
    }
}

@media only screen and (max-width: 767px) {
    iframe{
        width: 200px;
        height: 100px;

    }
}
@media only screen and (min-width: 768px) and (max-width: 959px) {
   iframe{
        width: 200px;
        height: 100px;

    }
}


}
/*@media only screen and (max-width: 767px) {
    img{
        width: 300px;
        height: 300px;

    }
    nav #container #navbar-header a #logo{
      width: 180px
      height:56px;
    }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
/*@media only screen and (min-width: 480px) and (max-width: 767px) {
    p,h3{
        font-size: 9px;
    }
} */

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
/*
@media only screen and (max-width: 479px) {
    p,h3{
        font-size: 7px;
    }
} 
*/
#local{
 float: right;

}